:root {
    --primary: #8566ff;
    --primary-alpha-40: #8566ff6e;
    --primary-alpha-5: #8566ff13;
    --secondary: #636ab5;
    --honey: #e4a42d;
    --secondary-alpha-50:#636ab580;
    --secondary-alpha-5: #636ab517;
    --white: #fff;
    --white-alpha-75: #ffffffc2;
    --white-alpha-50: #ffffff77;
    --white-alpha-5: #ffffff1f;
    --black-alpha-5: #0000001a;
    --muted: #888;
}