.app {
  max-width: 100rem;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .attribution-note {
    text-align: center;
    color: var(--muted);
    font-family: 'Silka', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: .3rem;
    margin: 0;
    z-index: 2;
    a {
      text-decoration: none;
      font-weight: 600;
      color: var(--primary);
    }
  }
  
  & > *:not(.attribution) {
      margin: 1rem;
  }
}