@import '../../styles/mixins';

.nav {
    @include component();

    width: 20rem;
    &::before {
        backdrop-filter: none;
        background-color: var(--primary);
    }
    &__container {
        border-radius: inherit;
        overflow: hidden;
        white-space: nowrap;
    }
    &__link {
        $at : &;

        display: inline-grid;
        color: var(--white);
        column-gap: 1rem;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        padding: .6rem 1rem;
        grid-template-columns: 1.5rem 1fr;
        transition: all 0.3s ease-out;

        &:not(:last-child){
            margin-right: .5rem;
        }
        &-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
        &-text {
            position: relative;
            margin-top: .1rem;
            white-space: nowrap;
            text-overflow: clip;
            width: 0;
            overflow: hidden;
            transition: width 0.3s ease-out;
        }
        &--small {
            margin-right: 0;
        }
        &--large {
            #{$at} {
                &-text {
                    width: 100%;
                }
            }

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 2rem;
                background-color: var(--white-alpha-5);
            }
        }
    }
}